<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Mission</title>
    <link rel="stylesheet" href="/css/missions.css" />
</head>
<body>
    <h1>Edit Mission</h1>
    
    <form action="/missions/edit" method="post">
        <input type="hidden" name="id" th:value="${mission.id}" />
        
        <div>
            <label for="missionType">Mission Type:</label>
            <input type="text" id="missionType" name="missionType" th:value="${mission.missionType}" />
        </div>
        
        <div>
            <label for="departureLocation">Departure Location:</label>
            <input type="text" id="departureLocation" name="departureLocation" th:value="${mission.departureLocation}" />
        </div>

        <div>
            <label for="destination">Destination:</label>
            <input type="text" id="destination" name="destination" th:value="${mission.destination}" />
        </div>
        
        <div>
            <label for="vehicle">Vehicle:</label>
            <select name="vehicle.id" id="vehicle">
                <option th:each="vehicle : ${vehicles}" th:value="${vehicle.id}" th:text="${vehicle.plateNumber}" th:selected="${vehicle.id == mission.vehicle.id}"></option>
            </select>
        </div>
        
        <div>
            <label for="driver">Driver:</label>
            <select name="driver.id" id="driver">
                <option th:each="driver : ${drivers}" th:value="${driver.id}" th:text="${driver.firstName + ' ' + driver.lastName}" th:selected="${driver.id == mission.driver.id}"></option>
            </select>
        </div>
        
        <div>
            <label for="done">Mission Done:</label>
            <input type="checkbox" id="done" name="done" th:checked="${mission.done}" />
        </div>

        <button type="submit">Update Mission</button>
    </form>
</body>
</html>
