<!-- fragments/modal-content.html -->
<div th:fragment="missionList">
    <div class="modal fade" id="deleteMissionModal" tabindex="-1" aria-labelledby="deleteConfirmModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteConfirmModalLabel">Confirmer la suppression</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                </div>
                <div class="modal-body">
                    <div th:if="${isOngoing}">
                        <p>Cette mission est en cours et ne peut pas etre supprimée</p>
                    </div>
                    <div th:unless="${isOngoing}">
                        <p>Êtes-vous sûr de vouloir supprimer la mission <strong th:text="${mission.name}">[Nom]</strong>?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <form th:action="@{/missions/{id}(id=${mission.id})}" method="post" th:if="${!isOngoing}">
                            <button type="submit" class="btn btn-danger">Supprimer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

                